*{

}
body
{
  background-image: url('fruit.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
}

h1 {
  font-size: 35px;
  color: #666dcc;
}

h2 {
  font-size: 20px;
  color: #0f0e0e;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

input {
  border: 3px solid #73AD21;
  padding: 10px 10px;
  font-size: 20px;
  margin: 30px;
}

button {
  background-image: url('yellow.gif');
  border: 3px solid #73AD21;
  padding: 10px 10px;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-image: url('fruit11.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
